/* Formatação do cabeçalho */
#cabecalho {
  background-color: #f7b600;
  padding: 15px;
  text-align: center;
  border: 1px solid red;
}
.area-logo {
  padding: 10px;
}
.area-logo h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}
.branco {
  color: white;
}
.area-menu {
  padding: 10px;
}
.area-menu a {
  text-decoration: none;
}
.area-menu a:link,
.area-menu a:visited {
  color: #fff;
  padding: 12px 12px;
}
.area-menu a:hover {
  color: #f7b600;
  background: #fff;
  text-decoration: underline;
}

/* Formatação da area de menu */

.area-principal {
  width: 920px;
  margin: 0 auto;
  padding: 20px;
}
/* postagens & menu-lateral */
.postagens {
  width: 660px;
  float: left;
}
.menu-lateral {
  width: 240px;
  float: right;
}
/* Rodape */
.rodape {
  clear: both;
  background: #ccc;
  text-align: center;
  padding: 15px;
}

/* Postagens */
.post {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}
.post h2 {
  color: #f7b600;
}
.data-postagens {
  font-size: 0.8em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  display: block;
  margin-bottom: 10px;
}
.post p {
  padding: 5px;
  margin: 12px;
  font-size: 1.2em;
}
.post img {
  width: 620px;
}
.post a:link,
.post a:visited {
  color: #f7b600;
  padding: 12px 12px;
}
.post a {
  text-decoration: none;
  padding: 10px;
}
.post a:hover {
  color: #352700;
  background: rgb(206, 79, 79);
  text-decoration: underline;
}
/* Area lateral */
.area-lateral {
  background: white;
  padding: 10px;
  margin: 10px;
}
.area-lateral h3 {
  color: #565656;
  background: #ccc;
  padding: 5px;
}
.postagem-lateral {
  font-size: 0.8em;
  padding: 5px;
}

.categorias a {
  text-decoration: none;
  padding: 2px;
  margin: 10px;
}

.categorias a:link,
.categorias a:visited {
  color: #f7b600;
  padding: 12px 12px;
}
.categorias a:hover {
  text-decoration: underline;
}
